.theme-toggle {
  background: none;
  border: none;
  cursor: none;
  color: var(--color-text-secondary);
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 50%;
  transition: color 0.3s ease, background-color 0.3s ease;
  &:hover {
    color: var(--color-text-primary);
    background-color: var(--color-border);
  }
}